<div class="container">



    <div class="row">

        <div class="col-4 offset-6">
            <div class="input-group mb-6">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Search:</span>
                </div>
                <div class="col-6">
                    <input type="text" [(ngModel)]="search" class="form-control mb-4">
                </div>
            </div>
        </div>

        
        


    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                {{data.title}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3" *ngFor="let p of data.products| filterBy:{title: search}">
            <a [routerLink]="'/products/'+p._id">
                <img [src]="p.photo" class="img-fluid" />
                {{p.title}}
                {{p.price}}€
            </a>
        </div>
    </div>

</div>